.navbar-fixed
    nav.c1
        .nav-wrapper.c1
            a.brand-logo.light-green-text.text-accent-2(href='#')  &nbspVBG
            ul.right
                li
                    a(href="#modalLogin").light-green-text.text-accent-2.modal-trigger Log in
                li
                    a(href="#modalRegister").light-green-text.text-accent-2.modal-trigger.hide-on-med-and-down.reg-t Register