.navbar-fixed
    nav.c1
        .nav-wrapper
                a.show-on-large.sidenav-trigger.light-green-text.text-accent-2(href='#', data-target='slide-out')
                    i.fa.fa-bars
                a.brand-logo.light-green-text.text-accent-2(href='#')  VBG
// side navbar
ul#slide-out.sidenav.c4
    li
        .user-view
            .background
                img(src='img/vbg-back.png')
            .row
                .col.s6
                    img.circle.responsive-img.valign.profile-image(width='200px', height='200px', alt='', src=proImg)
                .col.s6
                    .row
                        span.light-green-text.text-accent-1  #{userName}
                        br
                        br
    li.bold
        a.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2(href='../dashboard')
            i.fa.fa-home.light-green-text.text-accent-2
            |  Dashboard
    li
        ul.collapsible.accordion
            li
                a.fix-o.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2(href='#')
                    i.fa.fa-balance-scale.light-green-text.text-accent-2
                    |  Records
                .collapsible-body.c0
                    ul
                        li
                            a.waves-effect.waves-light.light-green-text.text-accent-3(href='../wallet')
                                i.fa.fa-briefcase.light-green-text.text-accent-3
                                |  wallet
                        li
                            a.waves-effect.waves-light.light-green-text.text-accent-3(href='../log')
                                i.fa.fa-file.light-green-text.text-accent-3
                                |  Logs
            li
                a.fix-o.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2(href='#')
                    i.fa.fa-gamepad.light-green-text.text-accent-2
                    |  Games
                .collapsible-body.c0
                    ul
                        li
                            a.waves-effect.waves-light.light-green-text.text-accent-3(href='../leaderboard')
                                i.fa.fa-fort-awesome.light-green-text.text-accent-3
                                |  Leaderboard
                        li
                            a.waves-effect.waves-light.light-green-text.text-accent-3(href='../tournament')
                                i.fa.fa-trophy.light-green-text.text-accent-3
                                |  Tournament
    li
        a.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2(href='../profile')
            i.fa.fa-user.light-green-text.text-accent-2
            |  Profile
    li
        a.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2(href='../func/sign/logout')
            i.fa.fa-sign-out.light-green-text.text-accent-2
            |  Log out