extends layout.pug
block links
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/adm.css")


block navigation


block content
    .hg
    .container
        .row
        .col.s12
            //-tab links
            ul.tabs.c2
                li.tab.col.s4
                    a.sp2.active(href='#pendingDecision') Pending Decision
                li.tab.col.s4
                    a.sp2(href='#editGames') Games
                li.tab.col.s4
                    a.sp2(href='#tournaments') Tournaments
                li.tab.col.s4
                    a.sp2(href='#feeds') Feeds
                li.tab.col.s4
                    a.sp2(href='#statistics') Statistics
        //-tab contents
        .row.box-x#pendingDecision
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Pending Discissions
                    .row.hg
                    .row
                        ul.collection.with-header
                            each match in matches
                                li.collection-item.c2
                                    div
                                        | #{match.gameName} &nbsp - &nbsp #{match.balance}BP &nbsp - &nbsp #{match.date}
                                        a.red-text.secondary-content(href='#!', data-id=match._id)#takeDecisionBtn
                                            i.material-icons gavel
        .row.box-x#editGames
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Edit Games
                    .row.hg
                    .row
                        .center-box
                            a.btn-big.gap-1.modal-trigger(href='#modalAddGame') Add Game
                            a.btn-big.modal-trigger(href='#modalRemoveGame') Remove Games
        .row.box-x#tournaments
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Tournaments
                    .row.hg
                    .row
                        .center-box
                            a.btn-big.gap-1.modal-trigger(href='#modalAddTournament') Add Tournament
            
            ul.collapsible.popout
                li.active
                    .collapsible-header.c2.waves-effect.waves-light.light-green-text.text-accent-2 Ongoing Tournaments 
                    .c3.collapsible-body
                        span This section contains all ongoing tournaments.
                        br
                        .galary.tournament-list
                            each tour in tournaments_ongoing
                                include ./core/sticker/tournamentCard.pug
                li.active
                    .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2 New Tournaments 
                    .c3.collapsible-body
                        span This section contains all the new tournaments.
                        br
                        .galary.challenge-list
                            each tour in tournaments_yet_to_start
                                include ./core/sticker/tournamentCard.pug
        //-tournament tab else here
        .row.box-x#feeds
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title.sp2 Add Feeds
                    form(action="admin/feed/add", method="post", enctype="multipart/form-data")
                        .row
                            .col.s12
                                .row
                                    .input-field.col.s12
                                        input(type='text', name='title', required='')#feedTitle.sp1
                                        label(for="feedTitle") Title
                                .row
                                    .file-field.input-field.col.s12
                                        .btn
                                            span File
                                            input(type='file', name='image' , required='')
                                        .file-path-wrapper
                                            input.file-path.validate(type='text', placeholder='Upload one Image').sp1
                                .row
                                    .input-field.col.s12
                                        textarea(name='content',  required='').materialize-textarea#feedContent.sp1
                                        label(for='feedContent') Content
                                .row.center
                                    button(type="submit" ).btn-norm.waves-effect.waves-light.center#feedBtnMain ADD Feed
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title.sp2 feedList
                    ul.collection#feedCollection
                    
                
        .row.box-x#statistics
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Statistics           
    .hg1
    //-game editing ends here

    //-modal include
    include ./core/modal/adminModals.pug
block foot
    include ./core/footer.pug



block scripts
    script(src="../js/main.js")
    script(src="../js/adm.js")

