extends layout.pug
block links
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/dash.css")


block navigation
    include ./core/nav/main.pug


block content
    //- dashboard collapse ui
    .hg
    .container
        ul.collapsible.popout
            li.active
                .collapsible-header.c2.waves-effect.waves-light.light-green-text.text-accent-2
                    i.fa.fa-gamepad
                    | &nbsp Clallanges 
                .c3.collapsible-body
                    span This section contains all the challenges you send or recieve.
                    br
                    .galary.challenge-list
                        each cg in challenges
                            include ./core/sticker/challangeCard.pug
            li.active
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2
                    i.fa.fa-gamepad
                    | &nbsp Matches 
                .c3.collapsible-body
                    span This section contains all the ongoing pvp matches.
                    br
                    .galary.challenge-list
                        each cg in matches
                            include ./core/sticker/matchCard.pug
            li.active
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2
                    i.fa.fa-puzzle-piece
                    | &nbsp Game Library
                .c3.collapsible-body
                    span Current Includes
                    br
                    .row
                        .galary.game-list
                            each game in gamePocket
                                include ./core/sticker/gameCardGameList.pug
                    .row
                        a#linkEditGames.btn-norm.waves-effect.tooltipped.waves-light.lighten-2.white-text.modal-trigger(href='#modalEditGameUser', data-position='bottom', data-delay='50', data-tooltip='add game')
                            i.fa.fa-trophy.light-green-text.text-accent-3
                            |                             add game
            li.active
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2
                    i.fa.fa-newspaper-o
                    | &nbsp Feeds
                .c3.collapsible-body
                    .galary
                        each feed in feeds
                            a(href="#modalFeed").modal-trigger
                                .card.card3(onclick="showFeed('"+feed._id+"');")
                                    .card-image
                                        -var ix = 'feedimage/'+feed.image
                                        img(src=ix)
                                        .card-title.hx4 #{feed.title}
                                        

    //-dashboard collapse end here
    .hg1

    
    include ./core/modal/dashboardModals.pug
    include ./core/playBtn.pug

block foot
    include ./core/footer.pug



block scripts
    script(src="js/main.js")
    script(src="js/dash.js")
