extends layout.pug
block links
    link(rel="stylesheet", href="../../css/main.css")
    link(rel="stylesheet", href="../../css/nunu.css")



//-navigation block
block navigation


block content
    .hg
    .hg
    .container
        .xrv
            a(href="/dashboard") back to dashboard
        .card-panel.c1.base
            .container
                span #{errorMessage1}
                br
                span.sp2 #{errorMessage2}