extends layout.pug
block metadata
    meta(name='google-signin-client_id', content='40026128533-5nf4htr79k3ji8i8nbl8tm35b3rd9ssj.apps.googleusercontent.com')
block links
    link(rel="stylesheet", href="css/main.css")
    script(src='https://apis.google.com/js/platform.js', async='', defer='')



block navigation
    include ./core/nav/home.pug


block content
    .parallax-container
            .section.no-pad-bot
                .container
                    .hg
                    h1.header.center.green-text.text-accent-3.hx(style="font-weight: bolder; text-shadow: 0px 0px 20px #5f5") Virtual Battle Ground
                    .row.center
                        h4.center.green-text.text-accent-2.hx(style="font-weight: bolder; text-shadow: 0px 0px 4px #262") start making money through compititive gaming
                    .row.center
                        a(href="#modalRegister", style="padding: 10px; height: 50px; width: 180px; border-radius:40px;").btn.green.darken-2.waves-effect.waves-dark.hoverable.modal-trigger.reg-t.shadow-2 register now
                    br
            .parallax
                img(src="img/shot_1.jpg", alt="")
    
    
    include ./core/home/howItWorks.pug
    include ./core/home/howToPlay.pug

    include ./core/modal/register.pug
    include ./core/modal/login.pug
block foot
    include ./core/footer.pug



block scripts
    script(src="js/main.js")
    script(src="js/home.js")