extends layout.pug
block links
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/pro.css")


block navigation
    include ./core/nav/main.pug


block content
    .hg
    .container
        .row.box-x
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title
                     | Match Information - 
                     .sp2 &nbsp #{userName}
                    .row
                    table#paging
                        thead
                            tr
                                th.sp4 OPPONENT
                                th.sp4 BET
                                th.sp4 STATUS
                        tbody
                            each match in matchResults
                                    tr
                                        td.matchInfoShow(data-id=match._id, style="cursor:pointer;") #{match.opponent.full_name}
                                        td #{match.balance} BP 
                                        case match.result
                                            when 'won'
                                                td.green-text won
                                            when 'lost'
                                                td.red-text lost
    //-content ends here
    .hg
    .hg
                                                
    include ./core/modal/matchInfo.pug                
        
block foot
    include ./core/footer.pug



block scripts
    script(src="js/paging.js")
    script(src="js/main.js")
    script(src="js/log.js")
