.msgr
{
    color: #82ec1c !important;
    margin-top: -12px !important;
}
.bubble
{
    margin: 5px;
    margin-bottom: 10px !important;
    padding: 4px;
    padding-left: 10px;
    box-sizing:border-box;
}
.s_name
{
    font-style:oblique;
}
.s_message
{
    margin-left: 20px;
    padding: 10px;
    background-color:  #ffffff33;
    border-radius: 0 20px 20px 20px;
}
.v
{
    color: #ffffff30;
    font-size: 10px;
}
.v1
{
    color: #b2ff11;
}
.v2
{
    color: #59b7ee;
}
#chat-list-container
{
    max-height: 60vh; 
    overflow-y: scroll;
    margin-bottom: 2rem;
}