.container
    br
    br
    .content
        h3.sp2 How It Works
        p.flow-text.sp1 Compete in gaming tournaments and head-to-head challenges with gamers of every skill level on Mobile, Playstation, Xbox and PC. Participate in free-to-play or cash tournaments and Win Big at Virtual Battle Ground. 

    br
    br
    br
    