.parallax-container(style="height: 200px;")
            .section.no-pad-bot
                .container
                    .hg
                    h4.header.center.blue-text.text-lighten-2.hx(style="font-weight: bolder; text-shadow: 0px 0px 20px #444") Participate in Live Tournaments To Earn More
                    br
            .parallax
                img(src="img/shot_2.jpg", alt="")
.container
    .hg
    .row
        h3.sp2.center HOW TO PLAY
    .row
        .col.s12.m6
            .card-panel.green.darken-2.z-depth-2
                    
                h5.white-text.center
                    i.fa.fa-user
                    | &nbsp CREATE ACCOUNT
                p.white-text.center Login to Virtual Battle Ground and Add money to wallet
        .col.s12.m6
            .card-panel.green.darken-2.z-depth-2
                h5.white-text.center
                    i.fa.fa-gamepad
                    | &nbsp FIND YOUR GAME
                p.white-text.center Search among the Listd game and add to your play list
        .col.s12.m6
            .card-panel.green.darken-2.z-depth-2
                h5.white-text.center
                    i.fa.fa-bolt
                    | &nbsp CHALLENGE OTHERS
                p.white-text.center Search for ohter players and challenge them for free or bet.
        .col.s12.m6
            .card-panel.green.darken-2.z-depth-2
                h5.white-text.center
                    i.fa.fa-gift
                    | &nbsp WIN AND EARN
                p.white-text.center beat other players in tournaments and matches to earn credits.
    .hg