#gc
    .card.gameCard.hoverable.card1
        .card-image
            -var imgPath = "/gameimg/" + game.image
            -var deleteLink = 'dashboard/game/remove/' + game._id
            img(src=imgPath, alt="Chess")#gameImage.center.responsive-img.activator
        .card-reveal
            span.card-title.grey-text.text-darken-4.small-text-bold
                | #{game.name}
                i.material-icons.right close
            span.grey-text requitrment:
            span #{game.requirement}
            br
            span.grey-text platform :
            span
                case game.platform
                    when 0
                        | Android
                    when 1
                        | Pc
            br
            span.grey-text Game type : 
            span
                case game.player_count
                    when 1
                        | challange
                    when 2
                        | team
            br
            a(href='#modalDeleteGame', onclick="setDeleteUrl('" +deleteLink+"');" data-position="bottom" data-delay="50" data-tooltip="remove game").btn.tooltipped.waves-effect.waves-light.red.modal-trigger.right.small-1#deleteGame
                i.material-icons.small remove