#modalAddGame.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Add Game
        .hg-1
        .row.box-x
            form(method='POST',action ='/admin/game/add',enctype="multipart/form-data" ).col.s12#GameAddForm
                .row.input-field.ifld
                    input(type="text" id="a_name" name="name").validate 
                    label(for='a_name') Game Name :
                .row.file-field.input-field
                    a.btn
                        span Image
                        input(type='file' id="a_img" name='image').validate
                    .file-path-wrapper
                        input.file-path.validate(type='text')
                .row.input-field.ifld
                    input(type="text" id="a_requirement" name="requirement").validate 
                    label(for='a_requirements') Requirement :
                .row.input-field.ifld
                    select(name="platform", id="a_platform")
                        option(value='', disabled='', selected='') Platform
                        option(value='0') android
                        option(value='1') pc
                .row.input-field.ifld
                    input(type="number" id="a_playerCount" name="player_count").validate 
                    label(for='a_playerCount') Player Count :
                .row
                    p.left.red-text#login-msg.small
                .row.center
                    button(type="submit" ).btn.waves-effect.waves-light.center#addGameBtn.modal-trigger Add