#modalAdmitDefeat.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Log In
        .container
            .row
                p Do you really want to admit 'DEFEAT'?
            br
            .row
                a.btn.red#admitDefeatBtn Yes
                | &nbsp
                a.btn.blue#closeModal.modal-trigger No
