#modalChallangeAction.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Challange
    .hg-1
    .container
            .row
                .row
                    .col.s6
                        span Challenger :
                    .col.s6
                        span#ca_challenger challenger name
                .row
                    .col.s6
                        span Challenged :
                    .col.s6
                        span#ca_challenged challenged name
                .row
                    .col.s6
                        span bet :
                    .col.s6
                        span#ca_bet cash BP
            .row
                .col.s12#ca_actionBtns
                    a(href="#")#ca_decline.btn-flat.red-text decline 
                    a(href="#")#ca_accept.btn-flat.green-text Accept 

