#modalDecision.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Decision
        .hg-1
        .row.box-x

            div.d-frame
                div
                    span.sp4 Match ID :
                    span#d-matchId
                div
                    span.sp4 Game :
                    span#d-game
                div
                    span.sp4 Bet :
                    span#d-bet
                    span BP
                div
                    span.sp4 Date :
                    span#d-date
                
                div.evd#d-proofs-1
                    hr
                    div
                        span.sp2 challenger Email :
                        span#d-c1-email  chocoboyxp@gmail.com
                    div
                        span.sp2 proof :
                        br
                        img#d-c1-img(src='img/default.jpg', width='600px')
                    br
                    a.btn-norm#d-win1  declear winner
                div.evd#d-proofs-2
                    hr
                    div
                        span.sp2 challenged Email :
                        span#d-c2-email  chocoboyxp@gmail.com
                    div
                        span.sp2 proof :
                        br
                        img#d-c2-img(src='img/default.jpg', width='600px')
                    br
                    a.btn-norm#d-win2  declear winner
