#modalMatchinfo.modal
    .modal-content
        h2.blue-text.center.flow-text Match Information
    .hg-1
    .container
            .row
                .row
                    .col.s6
                        span.sp2 Game :
                    .col.s6
                        span#mi_game challenger name
                .row
                    .col.s6
                        span.sp2 Challenger :
                    .col.s6
                        span#mi_challenger challenger name
                .row
                    .col.s6
                        span.sp2 Challenged :
                    .col.s6
                        span#mi_challenged challenged name
                .row
                    .col.s6
                        span.sp2 Bet :
                    .col.s6
                        span#mi_bet cash BP
                .row
                    .col.s6
                        span.sp2 Time :
                    .col.s6
                        span#mi_date date