#modalRegister.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Register
        .container
            .row
                    .row.input-field.ifld
                        input(type="text" id="r_name" name="full_name").validate
                        label(for='r_name') Full Name
                    .row.input-field.ifld
                        input(type="email" id="r_email" name="email").validate
                        label(for='r_email') Email Id
                    .row.input-field.ifld
                        input(type="password" id="r_password" name="password").validate
                        label(for='r_password') Password
                    .row.input-field.ifld
                        input(type="password" id="r_confirm" name="confirm").validate
                        label(for='r_confirm') Confirm
                    .row
                        p.left.red-text#register-msg.small
                    .row.center
                        a.btn-norm.waves-effect.waves-light.center#registerBtn Register