#modalRemoveGame.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Remove Game
        .row.box-x
            form(action='/admin/game/remove', method='post')#removeGameForm
                .row.boxit
                    each game in games
                        .row
                            label
                                -var gameItemId=game._id
                                -var str='game-remove-'+gameItemId
                                    input(type='checkbox', name=gameItemId, id=str)
                                    span #{game.name}
            .row.center.gap-top-2
                button(type="submit").btn.waves-effect.waves-light.red.center#removeGameBtn Remove