.fixed-action-btn.click-to-toggle
  a.btn-floating.btn-large.green.hoverable
    i.material-icons games
  ul
    li
      a(href='#').btn-floating.light-green.accent-3#trigger-search
        i.material-icons person
    li
      a.btn-floating.light-green.accent-3
        i.material-icons group